.header__logo {
  max-width: 142px;
  max-height: 33px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .header__logo {
    width: calc(103.74 / 320 * 100%);
    margin-left: 27px;
  }
}
