.elements__item {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 26px;
  align-items: center;
  max-height: 361px;
  box-sizing: border-box;
  position: relative;
}
