.popup__card-container {
  position: relative;
  margin: 0 auto;
  padding: 0;
  max-width: 75vw;
  max-height: 75vw;
  box-sizing: content-box;
}

@media screen and (max-width: 636px) {
  .popup__card-container {
    max-height: calc(299 / 568 * 100%);
  }
}
