.profile__btn {
  background-color: #000000;
  border: 2px solid #ffffff;
  border-radius: 2px;
  color: #ffffff;
  width: calc(150 / 880 * 100%);
  min-height: 50px;
  box-sizing: border-box;
  transition: opacity linear 0.3s;
  outline: none;
}

.profile__btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile__btn {
    width: 100%;
  }
}
