.error {
  margin: 0;
  padding: 0;
  color: #ff0000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  max-width: 100%;
  margin-top: 5px;
  min-height: 30px;
  box-sizing: content-box;
  margin-bottom: 13px;
}
