.popup__inputs-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  align-items: flex-start;
  width: calc(358 / 394 * 100%);
  border: none;
  position: relative;
  box-sizing: border-box;
}

@media screen and (max-width: 636px) {
  .popup__inputs-container {
    margin-top: 73px;
  }
}
