.profile__btn-redaction {
  margin: auto 0;
  padding: 0;
  background-color: #000000;
  border: none;
  max-height: 24px;
  min-width: 24px;
  transition: opacity linear 0.3s;
  outline: none;
}

@media screen and (max-width: 636px) {
  .profile__btn-redaction {
    min-width: 18px;
    min-height: 18px;
  }
}

.profile__btn-redaction:hover {
  opacity: 0.6;
  cursor: pointer;
}
