.header {
  width: calc(880 / 1280 * 100%);
  min-height: 74px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: rgba(84, 84, 84, 0.7) 1px solid;
}

@media screen and (max-width: 1024px) {
  .header {
    width: calc(900 / 1024 * 100%);
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    padding-top: 28px;
    min-height: 56px;
  }
}
