.elements__trash {
  position: absolute;
  z-index: 1;
  min-width: 18px;
  min-height: 19px;
  background-image: url(../../../images/icon/trash.svg);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  top: 20px;
  right: 20px;
  transition: opacity linear 0.3s;
}

.elements__trash:hover {
  opacity: 0.6;
  cursor: pointer;
}
