.profile__block-author {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .profile__block-author {
    flex-direction: column;
    gap: 25px;
  }
}
